<html>
    <head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			 
    </head>
    <body>
        <div align="center">
            <h2>Reset Your Password</h2>
            <form action="{{ url_for('reset_password', token=token) }}" method="post">
                <input id="password" name="password" type="password" placeholder="Enter New Password" class="textbox" required/><br><br>
                <input type="submit" class="btn" value="Reset Password"><br>
            </form>
        </div>
    </body>
</html>
